
@{
    ViewBag.Title = "Home";
}

﻿<h2>Uniclass 2015 Tables</h2>

<ul>
    <li>@Html.ActionLink("Products", "Index", "Uniclass", new { notation = "Pr" }, null)</li>
    <li>@Html.ActionLink("Systems", "Index", "Uniclass", new { notation = "Ss" }, null)</li>
    <li>@Html.ActionLink("Elements", "Index", "Uniclass", new { notation = "Ee" }, null)</li>
    <li>@Html.ActionLink("Spaces", "Index", "Uniclass", new { notation = "Sp" }, null)</li>
</ul>

